<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

</head>
<body>

{% block content %}
<div class="container-fluid">
<div class="page-header">
  <h1>Minecraft Bedrock World Edit <small class="text-muted">version 0.0.1</small></h1>
</div>
<p></p>
<h4>Upload world folder (for PC)</h4>

<form method='POST' name ="upload" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" class="btn btn-light" id="file_input" name="file_field" webkitdirectory directory/>
    
    <input type="text" id="directories" name="directories" hidden />
    
    <button id="btn" class="btn btn-primary">send</button>
    
</form>
<p></p>
<h4>Upload zip file (for iOS/Android)</h4>
<form method='POST' name ="upload" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="btn btn-light" id="file_input" name="file_field">
  <button type="submit" id="btn_file" class="btn btn-primary">send</button>

</form>

</div>
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <br><span class="text-muted"><A href="https://github.com/obscraft23/mcbe-edit-web">mcbe-edit-web</A> v0.0.1 copyright (c) 2023 obscraft23 </span></br>
    <span class="text-muted">powered by <A href="https://www.djangoproject.com/">django</A> and <A href="https://github.com/obscraft23/pybedrock">pybedrock</A></span>
  </div>
</footer>
<script>
 var btn = document.getElementById('btn');
 files = document.querySelector("#file_input").files;
 //document.querySelector("#file_input").addEventListener("change", function() {
 btn.addEventListener('click', function() {
    files = document.querySelector("#file_input").files;
    var directories = {}
    for (var file of files) {
      file.webkitRelativePath
      directories[file.name] = file.webkitRelativePath
    }
    directories = JSON.stringify(directories);
    document.querySelector("#directories").value = directories
    document.upload.submit();
 });
</script>
{% endblock %}

</body>
</html>